.fail {
    width: 100%;
    max-width: 1200px;
    padding: 0 312px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 120.1px 15px #FE0808 inset;
    background: #FFFFFF;
}

.fail .heading {
    color: var(--primary-color-1);
    font-size: 3rem;
}

.fail .location {
    margin-top: 10px;
    color: var(--primary-color-1);
    color: var(--primary-color-1);
    font-family: var(--heading-font);
    font-weight: var(--heading-font-weight);
    font-size: 3rem;
    text-align: center;
}

.fail .failed {
    margin-top: 10px;
    color: var(--primary-color-1);
    color: var(--primary-color-1);
    font-family: var(--heading-font);
    font-weight: var(--heading-font-weight);
    font-size: 3rem;
    text-align: center;
    text-wrap: nowrap;
}

.fail .your-score {
    margin-top: 10px;
    text-align: center;
    color: var(--primary-color-1);
    color: var(--primary-color-1);
    font-family: var(--heading-font);
    font-weight: var(--heading-font-weight);
    font-size: 3rem;
}

.fail .score {
    margin-top: 10px;
    text-align: center;
    color: var(--primary-color-1);
    font-family: var(--heading-font);
    font-weight: var(--heading-font-weight);
    font-size: 3rem;
    color: red;
}

.fail .btns {
    margin-top: -40px;
    margin-bottom: 10px;
    padding: 0 288px;
    display: flex;
    gap: 50px;
}

.fail .btns .btn-1 {
    display: flex;
    justify-content: center;
    padding: 10px 30px;
    font-size: 1.5rem;
}

.fail .btns .btn-2 {
    font-size: 1.5rem;
    padding: 10px 10px;
    text-wrap: nowrap;
    color: red;
}


@media only screen and (max-width:833px) {
    .fail {
        max-width: 700px;
        padding: 0 140px;
    }

    .fail .failed {
        text-wrap: wrap;
    }


    .fail .btns {
        flex-direction: column;
    }

    .fail .btns .btn-2 {
        margin-top: -10px;
    }

}

@media only screen and (max-width:640px) {
    .fail {
        max-width: 600px;
        padding: 0 40px;
    }

    .fail .failed {
        text-wrap: wrap;
    }

    .fail .btns {
        flex-direction: column;
    }
}

@media only screen and (max-width:400px) {
    .fail {
        max-width: 350px;
        padding: 0 30px;
    }

    .fail .failed {
        text-wrap: wrap;
    }

    .fail .btns {
        flex-direction: column;
    }
}