.places-info {
    padding: 12px 14px;
    background: #D9D9D959;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin-top: 20px;
}

.places-info .name {
    width: 100px;
    font-family: var(--text-font);
    font-weight: var(--text-font-weight);
    font-size: 1.5rem;
    color: var(--secondary-color-2);
}

.places-info .description {
    text-align: start;
    width: 150px;
    font-family: var(--text-font);
    font-weight: var(--text-font-weight);
    font-size: 1.5rem;
    color: var(--secondary-color-2);
}

.places-info .longitude {
    text-align: start;
    width: 100px;
    font-family: var(--text-font);
    font-weight: var(--text-font-weight);
    font-size: 1.5rem;
    color: var(--secondary-color-2);
}

.places-info .latitude {
    text-align: center;
    width: 100px;
    font-family: var(--text-font);
    font-weight: var(--text-font-weight);
    font-size: 1.5rem;
    color: var(--secondary-color-2);
}


.places-info .icons {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    width: 100px;
}

.places-info .icons img {
    width: 21px;
}

.places-info .edit-btn {
    background: none;
    border: none;
}

.places-info .edit-btn:hover {
    cursor: pointer;
}

.places-info .delete-btn {
    background: none;
    border: none;
}

.places-info .delete-btn:hover {
    cursor: pointer;
}

@media only screen and (max-width:770px) {

    .places-info .name {
        width: 70px;
        text-align: center;
    }

    .places-info .description {
        width: 90px;
    }

    .places-info .longitude {
        text-align: center;
    }

    .places-info .icons img {
        width: 15px;
    }

    .places-info .icons {
        gap: 10px;
        width: 50px;
    }

}

@media only screen and (max-width:500px) {
    .places-info .name {
        width: 50px;
    }

    .places-info .description {
        width: 50px;
    }

    .places-info .longitude {
        width: 50px;
    }

    .places-info .latitude {
        width: 50px;
    }

    .places-info .icons {
        width: 50px;
    }

    .places-info .icons img {
        width: 13px;
    }
}

@media only screen and (max-width:330px) {
    .places-info .name {
        width: 30px;
    }

}