.Quiz {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 120.1px 15px #152D66B2 inset;
    width: 1200px;
}

.Quiz .h-1 {
    color: var(--primary-color-1);
    font-size: 4rem;
}

.Quiz .h-2 {
    color: var(--primary-color-1);
    font-size: 4rem;
}

.Quiz .loading-bar {
    display: flex;
    justify-content: flex-start;
    margin-top: 22px;
    background-color: #D9D9D9;
    width: 1100px;
    border-radius: 18px;
}

.Quiz .counter {
    background-color: var(--secondary-color-2);
    padding: 5px 10px;
    border-radius: 18px;
    font-family: var(--heading-font);
    font-weight: var(--heading-font-weight);
    font-size: 2.25rem;
    color: var(--primary-color-1);
    transition: width 0.4s ease;
}

.Quiz .timer {
    margin-top: 15px;
    color: red;
    font-family: var(--heading-font);
    font-weight: var(--heading-font-weight);
    font-size: 2rem;
}

.Quiz .question {
    margin-top: 15px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1063px;
    color: var(--primary-color-1);
}

.Quiz .question-content {
    background-color: #D9D9D9;
    width: 1000px;
    display: flex;
    justify-content: flex-start;
    border-radius: 29px;
    padding: 20px 40px;
    font-family: var(--heading-font);
    font-weight: var(--heading-font-weight);
    font-size: 2.25rem;
}

.Quiz .options-div {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
    width: 900px;
}

.Quiz .options {
    border: none;
    text-align: center;
    padding: 10px 10px;
    border-radius: 49px;
    width: calc(40% - 20px);
    font-family: var(--text-font);
    font-weight: var(--text-font-weight);
    font-size: 1.5rem;
    color: var(--primary-color-1);
    background-color: #D9D9D9;
}

.Quiz .options:hover {
    cursor: pointer;
}

.Quiz .selected {
    background-color: var(--secondary-color-2);
}

.Quiz .toggel {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 890px;
}

.Quiz .previous-btn {
    padding: 5px 5px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: none;
    background-color: var(--secondary-color-2);
    font-family: var(--heading-font);
    font-weight: var(--heading-font-weight);
    font-size: 1.5rem;
    color: var(--primary-color-1);
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
}

.Quiz .previous-btn span {
    transform: rotate(-180deg);
}

.Quiz .previous-btn:hover {
    cursor: pointer;
    transform: rotate(180deg) scale(1.1);
}



.Quiz .next-btn {
    padding: 5px 5px;
    width: 150px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: none;
    background-color: var(--secondary-color-2);
    font-family: var(--heading-font);
    font-weight: var(--heading-font-weight);
    font-size: 1.5rem;
    color: var(--primary-color-1);
    transition: transform 0.3s ease-in-out;
}

.Quiz .next-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

@media only screen and (max-width:1030px) {
    .Quiz {
        width: 900px;
        border-radius: 80px;
    }

    .Quiz .loading-bar {
        width: 800px;
    }

    .Quiz .question {
        width: 700px;
    }

    .Quiz .question-content {
        width: 700px;
    }

    .Quiz .options-div {
        width: 700px;
    }

    .Quiz .toggel {
        width: 700px;
    }

}

@media only screen and (max-width:770px) {
    .Quiz {
        width: 700px;
        border-radius: 70px;
    }

    .Quiz .loading-bar {
        width: 650px;
        border-radius: 15px;
    }

    .Quiz .counter {
        border-radius: 15px;
    }

    .Quiz .question {
        width: 600px;
    }

    .Quiz .question-content {
        width: 600px;
    }

    .Quiz .options-div {
        width: 500px;
    }


    .Quiz .toggel {
        width: 500px;
    }
}

@media only screen and (max-width:500px) {
    .Quiz {
        width: 380px;
        border-radius: 40px;
    }

    .Quiz .loading-bar {
        width: 350px;
        border-radius: 10px;
    }

    .Quiz .counter {
        border-radius: 10px;
    }


    .Quiz .question {
        width: 330px;
    }

    .Quiz .question-content {
        width: 330px;
        padding: 10px 20px;
        border-radius: 15px;
    }

    .Quiz .options-div {
        flex-direction: column;
        align-items: center;
        width: 300px;
    }

    .Quiz .options {
        width: calc(80% - 20px);
        border-radius: 20px;
    }

    .Quiz .toggel {
        width: 300px;
        flex-direction: column;
        align-items: center;
        gap: 20px;

    }
}

@media only screen and (max-width:380px) {
    .Quiz {
        width: 330px;
    }

    .Quiz .loading-bar {
        width: 300px;
    }

    .Quiz .question {
        width: 280px;
    }

    .Quiz .question-content {
        width: 280px;
    }

    .Quiz .options-div {
        width: 280px;
    }

    .Quiz .options {
        width: calc(80% - 20px);
    }

    .Quiz .toggel {
        width: 280px;
    }
}

@media only screen and (max-width:330px) {
    .Quiz {
        width: 290px;
    }

    .Quiz .loading-bar {
        width: 280px;
    }

    .Quiz .question {
        width: 250px;
    }

    .Quiz .question-content {
        width: 250px;
    }

    .Quiz .options-div {
        width: 230px;
    }

    .Quiz .options {
        width: calc(80% - 20px);
    }

    .Quiz .toggel {
        width: 230px;
    }
}