.maps{
    background-color: var(--primary-color-1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 102px 45px 23px 45px;
}

.maps .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-bottom: 22px;
}


.maps .map-img{
    width: 100%;
    height: 549px;
}

.maps .explore-btn{
    margin-top: 72px;
}


@media only screen and (max-width: 880px) {
.maps .map-img {
        height: 300px;
    }
}


@media only screen and (max-width: 525px) {
    .maps .map-img {
            height: 200px;
        }
    }