.leaflet-map {
    width: 100%;
}

.leaflet-map .leaflet-container {
    width: 100%;
    max-width: 1348px;
    height: 983px;
    margin-top: 10px;
}

.leaflet-map .leaflet-div-icon {
    background: transparent;
    border: none;
}

.leaflet-map .leaflet-popup-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 14px;
    border-radius: 2px;
}

.leaflet-map .leaflet-popup-content .popup-heading {
    margin-bottom: 4px;
}

.leaflet-map .leaflet-popup-content .paragraph {
    color: var(--primary-color-1);
    font-size: 0.75rem;
    max-width: 333px;
    margin-top: -4px;
    text-align: center;
}

.leaflet-map .leaflet-popup-content .popup-btn {
    margin-top: 10px;
}


@media only screen and (max-width:768px) {
    .leaflet-map .leaflet-container {
        max-width: 1000px;
    }

    .leaflet-map .leaflet-popup-content {
        max-width: 350px;
    }

    .leaflet-map .leaflet-popup-content .popup-btn {
        padding: 10px 30px;
    }
}

@media only screen and (max-width:523px) {
    .leaflet-map .leaflet-container {
        max-width: 700px;
    }

    .leaflet-map .leaflet-popup-content {
        max-width: 200px;
    }

    .leaflet-map .leaflet-popup-content .popup-btn {
        padding: 10px 20px;
    }
}